#Data files
data
checkpoints
vgg16_finetune
resnet18_finetune
densenet121_finetune

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#All python cache related stuff
__pychache__
*.pyc

# Mac
.DS_Store