#Data files
data
models
checkpoints
vgg16_finetune
resnet18_finetune
densenet121_finetune

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#ignore
wandb

# Mac
.DS_Store

#All python cache related stuff
__pychache__
*.pyc